<div class="d-flex align-items-center">
    <span class="header-menu__item">
        <span class="header-menu__item-icon">
            <i class="hgi hgi-person-circle"></i>
        </span>
        <span class="header-menu__item-label">علامة تبويب ترحيب</span>
    </span>
    <div class="d-flex align-items-center">
        <a class="header-menu__item" href="/Account/Register">
            <span class="header-menu__item-icon">
                <i class="hgi hgi-person-plus"></i>
            </span>
            <span class="header-menu__item-label">علامة تبويب تسجيل</span>
        </a>
        <a class="header-menu__item" href="/Account/Login">
            <span class="header-menu__item-icon">
                <i class="hgi hgi-box-arrow-in-right"></i>
            </span>
            <span class="header-menu__item-label">علامة تبويب دخول</span>
        </a>
    </div>
</div>
